* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}
body * {
    font-style: normal;
}

body {
    background: #E0E0E0;
    background-position: top center;
    background-size: cover;
    font-size: 1.6rem;
}
.boxshadow .button {
    -webkit-box-shadow: 0px 0px 5px #666;
       -moz-box-shadow: 0px 0px 5px #666;
        -ms-box-shadow: 0px 0px 5px #666;
         -o-box-shadow: 0px 0px 5px #666;
            box-shadow: 0px 0px 5px #666;
    }
 .no-boxshadow .button {
    background: url(sombra.png) no-repeat;
    }
/*margin topo | direita | inferior | esquerda
         topo | horizontal | inferior
         vertical | horizontal
         Aplica para todos os quatro lados*/
/*padding top | right | bottom | left
          top | left and right | bottom
          top and bottom | left and right
          Aplica para todos os quatro lados*/
#cabecalho {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    width: 100%;
    height: 4rem;
    background: #D55208 top center/cover;
    box-shadow: rgba(0, 0, 0, 0.05);
    align-items: flex-start;
    padding: 0.5rem;
    justify-content: space-between;
}

#cabecalho ul li a{
    font-family: 'Inter';
    font-weight: bold;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    transition: background 0.2s;
}
#cabecalho ul li a:hover {
    border: 1px solid #E0E0E0;
    background: #d45208;
}
#logo-desktop img{
    width: 140px;
    margin: 0 4px 4px 0;
}
#logo-mobile {
    display: none;
}
#menu-navegacao {
    display: flex;
    list-style: none;
    gap: 1rem;
}
#menu-navegacao a {
    display: block;
    padding: 0.73rem;
}
#botao-mobile {
    display: none;
    margin: auto;
}
/*Configuração mobile*/
@media (max-width: 600px) {
    #logo-desktop {
        display: none;
    }
    #logo-mobile {
        height: auto;
        display: block;
    }

    #logo-mobile img {
        width: 52px;
        margin-bottom: 5px;
    }

    #menu-navegacao {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        height: 0px;
        transition: 0.6s;
        background: #d45208;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    #navegacao.active #menu-navegacao{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu-navegacao a{
        padding: 1 rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid #E0E0E0;
        text-align: center;
    }
    #botao-mobile {
        display: flex;
        padding: 0.5rem;
        font-size: 1rem;
        font-family: 'Inter' sans-serif;
        font-weight: bold;
        font-size: 22px;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }
    #botao-mobile h4 {
        color: #E0E0E0;
        margin-top: 3.9px;
    }
    #icone-menu {
        color: #E0E0E0;
        border-top: 8px solid;
        width: 35px;
        margin-bottom: 5px
    }
    #icone-menu::after, #icone-menu::before {
        content: '';
        display: block;
        width: 35px;
        height: 8px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #navegacao.active #icone-menu {
        border-top-color: transparent;
    }
    #navegacao.active #icone-menu::before {
        transform: rotate(135deg);
    }
    #navegacao.active #icone-menu::after {
        transform: rotate(-135deg);
        top: -12px;
    }
}

@media (max-width: 425px) {
    html {
        font-size: 95%;
    }
}
@media (max-width: 333px) {
html {
    font-size: 75%;
}
#logo-mobile img {
    width: 20%;
}

.photo img {
    width: 95%;
}
}


/*-------------------------------------------------------------------------------*/
#legenda {
    position: absolute;
    top: 4.5rem;
    width: 21rem;
    height: 5.8rem;
}
#legenda h1 {
    font-family: 'Inter';
    font-size: 2rem;
    padding: 0 15px;
    position: absolute;
}
#legenda p {
    padding: 0 15px;
    margin-top: 45px;
    font-size: 1rem;
    font-family: 'Inter';
    font-weight: 500;
    position: absolute;
    text-align: justify;
}

/*Area coordenador CSS*/

#container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.05rem;
    position: absolute;
    top: 11rem;
}
.area-coordenadores {
    /*position: ;
    top: 11rem;*/
    width: 100%;
    height: 56.7%;
}

.photo {
    width: 30%;
    height: 84%;
    display: block;
    margin-top: 0.6875rem;
    margin-left: 0.05rem;
}

.frame1 {
    height: 100%;
    margin: 0 80px 0 80px;
    list-style: none;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 10px;
    justify-items: center;
    justify-content: space-around; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}
.frame1 a {
    background: #D55208;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    line-height: 3.75rem;
    margin-bottom: 1.5rem;
    width: 21.875em;
    height: 7.5em;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-position: center;
    transition: 0.3s ease-out;
}
.frame1 a:hover {
    border: 1px solid #E0E0E0;
    background: #FF8000;
    transition: 0.3s ease-out;
    transform: scale(1.05);
}
.frame1 li a {
    margin-bottom: 14px;
}
.ident1 {
    width: 70%;
    height: 60%;
    font-family: 'Inter';
    color: #E0E0E0;
    text-align: center;
    line-height: 2.5rem;
    font-size: 0.85rem;
    margin-left: 6.375rem;
    margin-top: -5.75rem;
}
.ident2 {
    width: 70%;
    height: 80%;
    font-family: 'Inter';
    color: #E0E0E0;
    text-align: center;
    line-height: 2.0rem;
    font-size: 0.85rem;
    margin-left: 6.375rem;
    margin-top: -6.25rem; 
}
.ident3 {
    width: 70%;
    height: 90%;
    font-family: 'Inter';
    color: #E0E0E0;
    text-align: center;
    line-height: 1.7rem;
    font-size: 0.85rem;
    margin-left: 6.375rem;
    margin-top: -6.6rem; 
}
footer {
    background: #D55208;
    width: 100%;
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
}
footer h4 {
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-family: 'Inter';
}