@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    user-select: none;
    font-family: 'Sora', sans-serif !important;
}

body {
    background: #E0E0E0;
    background-position: top center;
    background-size: cover;
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
}
.boxshadow .button {
    -webkit-box-shadow: 0px 0px 5px #666;
       -moz-box-shadow: 0px 0px 5px #666;
        -ms-box-shadow: 0px 0px 5px #666;
         -o-box-shadow: 0px 0px 5px #666;
            box-shadow: 0px 0px 5px #666;
    }
 .no-boxshadow .button {
    background: url(sombra.png) no-repeat;
    }
/*margin topo | direita | inferior | esquerda
         topo | horizontal | inferior
         vertical | horizontal
         Aplica para todos os quatro lados*/
/*padding top | right | bottom | left
          top | left and right | bottom
          top and bottom | left and right
          Aplica para todos os quatro lados*/
#cabecalho {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 4rem;
    background: #D55208 top center/cover;
    box-shadow: rgba(0, 0, 0, 0.05);
    padding: 0.5rem;
    justify-content: space-around;
}

::-webkit-scrollbar{
    width: 5px;
    height: 8px;
    background-color: #aaa; /* or add it to the track */
}

::-webkit-scrollbar-thumb{
    background: #D55208;
}



#cabecalho ul li a{
    font-family: 'Inter';
    font-weight: bold;
    font-size: 1rem;
    color: white;
    text-decoration: none;
}
#cabecalho ul li a:hover {
    background: #d45208;
}
#logo-desktop img{
    width: 140px;
}
#logo-mobile {
    display: none;
}
#menu-navegacao {
    display: flex;
    list-style: none;
    gap: 1rem;
}
#menu-navegacao a {
    display: block;
    padding: 0.73rem;
}
#botao-mobile {
    display: none;
    margin: auto;
}
/*Configuração mobile*/

@media (max-width: 1017px) {
    section {
        font-size: 75%;
        text-align: center;
    }
}


@media (max-width: 600px) {
    #logo-desktop {
        display: none;
    }
    #logo-mobile {
        height: auto;
        display: block;
    }

    #logo-mobile img {
        width: 52px;
    }

    #menu-navegacao {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        height: 0px;
        transition: 0.6s;
        background: #d45208;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    #navegacao.active #menu-navegacao{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu-navegacao a{
        padding: 1 rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid #E0E0E0;
        text-align: center;
    }
    #botao-mobile {
        display: flex;
        padding: 0.5rem;
        font-size: 1rem;
        font-family: 'Inter' sans-serif;
        font-weight: bold;
        font-size: 22px;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }
    #botao-mobile h4 {
        color: #E0E0E0;
        margin-top: 3.9px;
    }
    #icone-menu {
        color: #fdfdfd;
        border-top: 8px solid;
        width: 35px;
        border-radius: 3px 3px 3px 3px !important;
        margin-bottom: 5px
    }
    #icone-menu::after{
        border-radius: 0px 0px 3px 3px;
    }
    #icone-menu::after, #icone-menu::before {
        content: '';
        display: block;
        width: 35px;

        height: 8px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #navegacao.active #icone-menu {
        border-top-color: transparent;
    }
    #navegacao.active #icone-menu::before {
        transform: rotate(135deg);
        border-radius: 3px;
    }
    #navegacao.active #icone-menu::after {
        transform: rotate(-135deg);
        border-radius: 3px;
        top: -12px;
    }
}
#logo-mobile img {
    width: 55%;
}

@media (max-width: 425px) {
    html {
        font-size: 95%;
    }
    .secao {
        font-size: 60%;
    }
}
@media (max-width: 333px) {
html {
    font-size: 75%;
}

.photo img {
    border-radius: 50%;
    width: 95%;
}
}


/*-------------------------------------------------------------------------------*/
/*#legenda {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1px;
    top: 4.5rem;
    left: 50%;
    transform: translate(-50%,0%);
    width: 80%;
    height: 5.8rem;
    color: rgb(16, 16, 16) !important;
}
#legenda h1 {
    font-family: 'Inter';
    font-size: 1.4rem;
    font-weight: 700;
}
#legenda p {
    font-size: 1rem;
    font-family: 'Inter';
    font-weight: 500;
    text-align: justify;
}*/

/*.legenda {
    position: absolute;
    margin-top: 75px;
    width: 100%;
    height: auto;
}
.secao {
    display: flex;
    flex-direction: column;
    margin: auto 80px;
}
.secao h1 {
    font-size: 2.5rem;
}*/
.legenda {
    position: absolute;
    margin-top: 5rem;
    width: 100%;
    height: auto;
}
.secao {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secao h1 {
    font-weight: 700;
}
.secao p {
    font-weight: 500;
}

/*Area coordenador CSS*/

#container {
    width: 100%;
    margin-top: 30px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.05rem;
    position: absolute;
    top: 11rem;
}
.area-coordenadores {
    /*position: ;
    top: 11rem;*/
    width: 100%;
    height: 56.7%;
}

.photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: auto;
}

span h1{
    margin-bottom: 10px;
    color: rgb(16, 16, 16);
    font-weight: 700 !important;
}

.frame1 {
    height: 80%;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.1rem;
    align-items: center;
    justify-content: center;
}
.frame1 a {
    background: #D55208;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    line-height: 3.75rem;
    margin-bottom: 1.5rem;
    width: 23.875em;
    height: 8.5em;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-position: center;
    transition: 0.3s ease-out;
}
.frame1 a:hover {
    background: #D7601D;
    transition: 0.3s ease-out;
    transform: scale(1.05);
}
.frame1 li a {
    margin-bottom: 14px;
}
.ident1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    font-family: 'Inter';
    color: #E0E0E0;
    text-align: left;
    margin-left: -25px;
    line-height: 1.35rem;
    font-size: 0.85rem;
}
.ident2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    font-family: 'Inter';
    color: #E0E0E0;
    text-align: left;
    line-height: 1.35rem;
    font-size: 0.85rem;
}
.ident3 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    font-family: 'Inter';
    color: #E0E0E0;
    text-align: left;
    line-height: 1.35rem;
    font-size: 0.85rem;
}
footer {
    background: #D55208;
    width: 100%;
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
}
footer h4 {
    width: 70%;
    text-align: center;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
}

.inputDateHours{
    width: 100%;
    display: flex;
    flex-direction: row;
}