@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    user-select: none;
    font-family: 'Sora', sans-serif !important;
}
body * {
    font-family: 'Inter';
    font-style: normal;
}

body {
    background: #E0E0E0;
    background-position: top center;
    background-size: cover;
    font-size: 1rem;
}
.boxshadow .button {
    -webkit-box-shadow: 0px 0px 5px #666;
       -moz-box-shadow: 0px 0px 5px #666;
        -ms-box-shadow: 0px 0px 5px #666;
         -o-box-shadow: 0px 0px 5px #666;
            box-shadow: 0px 0px 5px #666;
    }
 .no-boxshadow .button {
    background: url(sombra.png) no-repeat;
    }
/*margin topo | direita | inferior | esquerda
         topo | horizontal | inferior
         vertical | horizontal
         Aplica para todos os quatro lados*/
/*padding top | right | bottom | left
          top | left and right | bottom
          top and bottom | left and right
          Aplica para todos os quatro lados*/
#cabecalho {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    width: 100%;
    height: 4rem;
    background: #D55208 top center/cover;
    box-shadow: rgba(0, 0, 0, 0.05);
    align-items: flex-start;
    padding: 0.5rem;
    justify-content: space-around;
}

#cabecalho ul li a{
    font-family: 'Inter';
    font-weight: bold;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    transition: background 0.2s;
}
#cabecalho ul li a:hover {
    border: 1px solid #E0E0E0;
    background: #d45208;
}
#logo-desktop img{
    width: 60%;
    margin-top: 4px;
}
#logo-mobile {
    display: none;
}
#menu-navegacao {
    display: flex;
    list-style: none;
    gap: 1rem;
}
#menu-navegacao a {
    display: block;
    padding: 0.73rem;
}
#botao-mobile {
    display: none;
    margin: auto;
}
/*Configuração mobile*/
@media (max-width: 600px) {
    #logo-desktop {
        display: none;
    }
    #logo-mobile {
        height: auto;
        display: block;
    }

    #menu-navegacao {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        height: 0px;
        transition: 0.6s;
        background: #d45208;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    #navegacao.active #menu-navegacao{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu-navegacao a{
        padding: 1 rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid #E0E0E0;
        text-align: center;
    }
    #botao-mobile {
        display: flex;
        padding: 0.5rem;
        font-size: 1rem;
        font-family: 'Inter' sans-serif;
        font-weight: bold;
        font-size: 22px;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }
    #botao-mobile h4 {
        color: #E0E0E0;
        margin-top: 3.9px;
    }
    #icone-menu {
        color: #fdfdfd;
        border-top: 8px solid;
        width: 35px;
        border-radius: 3px 3px 3px 3px !important;
        margin-bottom: 5px
    }
    #icone-menu::after{
        border-radius: 0px 0px 3px 3px;
    }
    #icone-menu::after, #icone-menu::before {
        content: '';
        display: block;
        width: 35px;

        height: 8px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #navegacao.active #icone-menu {
        border-top-color: transparent;
    }
    #navegacao.active #icone-menu::before {
        transform: rotate(135deg);
        border-radius: 3px;
    }
    #navegacao.active #icone-menu::after {
        transform: rotate(-135deg);
        border-radius: 3px;
        top: -12px;
    }
}
#logo-mobile img {
    width: 65%;
}

@media (max-width: 425px) {
    html {
        font-size: 95%;
    }
}
@media (max-width: 333px) {
html {
    font-size: 75%;
}
}

#form {
    position: absolute;
    top: 15%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

}
#form span {
    font-weight: 700;
    color: #d45208;
}

label{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label input {
    margin-top: -10px;
    font-size: 1em;
}
.stylebutton {
    width: 100%;
    border: 0;
    line-height: 3rem;
    padding: 0 20px;
    color: #e3e3e3;
    font-family: 'Inter';
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    background-color: #d45208;
    margin-bottom: 80px;
}
.stylebutton:hover {
    border: 1px solid #FFF;
    background-color: #FF8000;
}
#identificacao {
    width: 100%;
    line-height: 2rem;
    padding: 10px 25px;
    border: .5px solid #d4530861;
    border-radius: 10px;
}

#identificacaoMetade{
    width: 100%;
    line-height: 2rem;
    padding: 10px 25px;
    border: .5px solid #d4530861;
    border-radius: 10px;  
}


.containerFomrs{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.inputDateHours{
    display: flex;
}


/*-------------------------------------------------------------------------------*/
#legenda {
    display: flex;
    flex-direction: column;
    gap: 1px;
    height: 5.8rem;
    color: rgb(16, 16, 16) !important;
}
#legenda h1 {
    font-family: 'Inter';
    font-size: 3rem;
    font-weight: 700;
}
#legenda p {
    font-size: 1rem;
    font-family: 'Inter';
    font-weight: 500;
    text-align: justify;
}